In [40]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [41]:
data=pd.read_csv('D:/CE888/raw data/raw_data/Participant0002.tsv',sep='\t')
data1=pd.read_csv('D:/CE888/raw data/raw_data/Participant0002.tsv',sep='\t')

In [42]:
data2 = data[['Recording name','Pupil diameter left','Pupil diameter right','Gaze event duration','Eye movement type']]
data3 = data1[['Recording name','Pupil diameter left','Pupil diameter right','Gaze event duration','Eye movement type']]

In [43]:
data2

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
0,Recording1,NaN,NaN,NaN,NaN
1,Recording1,NaN,NaN,8.0,Unclassified
2,Recording1,NaN,NaN,8.0,EyesNotFound
3,Recording1,NaN,NaN,33.0,Unclassified
4,Recording1,NaN,NaN,33.0,Unclassified
...,...,...,...,...,...
46551,Recording5,"3,35","3,08",42.0,Unclassified
46552,Recording5,NaN,NaN,42.0,Unclassified
46553,Recording5,NaN,NaN,42.0,Unclassified
46554,Recording5,"3,23","3,14",42.0,Unclassified
46555,Recording5,NaN,NaN,NaN,NaN

In [44]:

data2 = data2.dropna(axis=0)

In [45]:
filter = data2["Recording name"]=="Recording1"
  
# filtering data
print(data2.where(filter, inplace = True))
  
# display
data2

None

D:\anaconda\lib\site-packages\pandas\core\generic.py:8921: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cond, other, inplace, axis, level, errors=errors, try_cast=try_cast

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
5,Recording1,"2,84","3,07",33.0,Unclassified
97,Recording1,"3,51","3,15",67.0,Saccade
102,Recording1,"3,09","3,08",308.0,Fixation
106,Recording1,"3,00","3,14",308.0,Fixation
111,Recording1,"3,12","3,05",308.0,Fixation
...,...,...,...,...,...
46541,NaN,NaN,NaN,NaN,NaN
46544,NaN,NaN,NaN,NaN,NaN
46548,NaN,NaN,NaN,NaN,NaN
46551,NaN,NaN,NaN,NaN,NaN
46554,NaN,NaN,NaN,NaN,NaN

In [46]:
data2 = data2.dropna(axis=0)

In [47]:
data2

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
5,Recording1,"2,84","3,07",33.0,Unclassified
97,Recording1,"3,51","3,15",67.0,Saccade
102,Recording1,"3,09","3,08",308.0,Fixation
106,Recording1,"3,00","3,14",308.0,Fixation
111,Recording1,"3,12","3,05",308.0,Fixation
...,...,...,...,...,...
13347,Recording1,"3,15","3,13",33.0,Saccade
13352,Recording1,"3,12","3,14",117.0,Fixation
13356,Recording1,"3,23","3,30",117.0,Fixation
13362,Recording1,"3,14","3,16",117.0,Fixation
13366,Recording1,"3,23","3,30",117.0,Fixation

In [48]:
filter = data2["Eye movement type"]=="Saccade"
  
# filtering data
data2.where(filter, inplace = True)
  
# display
data2

D:\anaconda\lib\site-packages\pandas\core\generic.py:8921: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cond, other, inplace, axis, level, errors=errors, try_cast=try_cast

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
5,NaN,NaN,NaN,NaN,NaN
97,Recording1,"3,51","3,15",67.0,Saccade
102,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
13347,Recording1,"3,15","3,13",33.0,Saccade
13352,NaN,NaN,NaN,NaN,NaN
13356,NaN,NaN,NaN,NaN,NaN
13362,NaN,NaN,NaN,NaN,NaN
13366,NaN,NaN,NaN,NaN,NaN

In [49]:
data2 = data2.dropna(axis=0)
data2

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
97,Recording1,"3,51","3,15",67.0,Saccade
161,Recording1,"3,45","3,09",33.0,Saccade
278,Recording1,"3,46","3,42",25.0,Saccade
374,Recording1,"3,07","3,17",25.0,Saccade
482,Recording1,"3,35","3,36",17.0,Saccade
...,...,...,...,...,...
13260,Recording1,"3,21","3,20",17.0,Saccade
13288,Recording1,"3,05","2,94",42.0,Saccade
13291,Recording1,"3,02","3,02",42.0,Saccade
13343,Recording1,"3,21","3,12",33.0,Saccade
13347,Recording1,"3,15","3,13",33.0,Saccade

In [50]:
data3

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
0,Recording1,NaN,NaN,NaN,NaN
1,Recording1,NaN,NaN,8.0,Unclassified
2,Recording1,NaN,NaN,8.0,EyesNotFound
3,Recording1,NaN,NaN,33.0,Unclassified
4,Recording1,NaN,NaN,33.0,Unclassified
...,...,...,...,...,...
46551,Recording5,"3,35","3,08",42.0,Unclassified
46552,Recording5,NaN,NaN,42.0,Unclassified
46553,Recording5,NaN,NaN,42.0,Unclassified
46554,Recording5,"3,23","3,14",42.0,Unclassified
46555,Recording5,NaN,NaN,NaN,NaN

In [51]:
data3 = data3.dropna(axis=0)

In [52]:
data3

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
5,Recording1,"2,84","3,07",33.0,Unclassified
97,Recording1,"3,51","3,15",67.0,Saccade
102,Recording1,"3,09","3,08",308.0,Fixation
106,Recording1,"3,00","3,14",308.0,Fixation
111,Recording1,"3,12","3,05",308.0,Fixation
...,...,...,...,...,...
46541,Recording5,"3,79","3,25",50.0,Unclassified
46544,Recording5,"3,72","3,17",50.0,Unclassified
46548,Recording5,"3,32","3,03",17.0,Saccade
46551,Recording5,"3,35","3,08",42.0,Unclassified
46554,Recording5,"3,23","3,14",42.0,Unclassified

In [53]:
filter = data3["Recording name"]=="Recording1"
  
# filtering data
print(data3.where(filter, inplace = True))
  
# display
data3

None

D:\anaconda\lib\site-packages\pandas\core\generic.py:8921: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cond, other, inplace, axis, level, errors=errors, try_cast=try_cast

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
5,Recording1,"2,84","3,07",33.0,Unclassified
97,Recording1,"3,51","3,15",67.0,Saccade
102,Recording1,"3,09","3,08",308.0,Fixation
106,Recording1,"3,00","3,14",308.0,Fixation
111,Recording1,"3,12","3,05",308.0,Fixation
...,...,...,...,...,...
46541,NaN,NaN,NaN,NaN,NaN
46544,NaN,NaN,NaN,NaN,NaN
46548,NaN,NaN,NaN,NaN,NaN
46551,NaN,NaN,NaN,NaN,NaN
46554,NaN,NaN,NaN,NaN,NaN

In [54]:
data3 = data3.dropna(axis=0)

In [55]:
filter = data3["Eye movement type"]=="Fixation"
  
# filtering data
data3.where(filter, inplace = True)
  
# display
data3

D:\anaconda\lib\site-packages\pandas\core\generic.py:8921: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cond, other, inplace, axis, level, errors=errors, try_cast=try_cast

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
5,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN
102,Recording1,"3,09","3,08",308.0,Fixation
106,Recording1,"3,00","3,14",308.0,Fixation
111,Recording1,"3,12","3,05",308.0,Fixation
...,...,...,...,...,...
13347,NaN,NaN,NaN,NaN,NaN
13352,Recording1,"3,12","3,14",117.0,Fixation
13356,Recording1,"3,23","3,30",117.0,Fixation
13362,Recording1,"3,14","3,16",117.0,Fixation
13366,Recording1,"3,23","3,30",117.0,Fixation

In [56]:
data3 = data3.dropna(axis=0)

In [57]:
data3

,Recording name,Pupil diameter left,Pupil diameter right,Gaze event duration,Eye movement type
102,Recording1,"3,09","3,08",308.0,Fixation
106,Recording1,"3,00","3,14",308.0,Fixation
111,Recording1,"3,12","3,05",308.0,Fixation
115,Recording1,"3,02","3,05",308.0,Fixation
120,Recording1,"3,18","3,05",308.0,Fixation
...,...,...,...,...,...
13339,Recording1,"3,21","3,11",358.0,Fixation
13352,Recording1,"3,12","3,14",117.0,Fixation
13356,Recording1,"3,23","3,30",117.0,Fixation
13362,Recording1,"3,14","3,16",117.0,Fixation
13366,Recording1,"3,23","3,30",117.0,Fixation

In [60]:
data2 = data2[["Pupil diameter left","Pupil diameter right","Gaze event duration"]]

In [61]:
import numpy as np
def fix_commas(data):
    for col in data.select_dtypes(include='object'):
        print(col)
        data[col] = data[col].str.replace(',', '.').astype(float)
    return data

data2_test = fix_commas(data2)

Pupil diameter left
Pupil diameter right

D:\anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [62]:
data2_test

       Pupil diameter left  Pupil diameter right  Gaze event duration
97                    3.51                  3.15                 67.0
161                   3.45                  3.09                 33.0
278                   3.46                  3.42                 25.0
374                   3.07                  3.17                 25.0
482                   3.35                  3.36                 17.0
...                    ...                   ...                  ...
13260                 3.21                  3.20                 17.0
13288                 3.05                  2.94                 42.0
13291                 3.02                  3.02                 42.0
13343                 3.21                  3.12                 33.0
13347                 3.15                  3.13                 33.0

[578 rows x 3 columns]

In [64]:
data3 = data3[["Pupil diameter left","Pupil diameter right","Gaze event duration"]]

In [65]:
data3_test = fix_commas(data3)

Pupil diameter left
Pupil diameter right

In [66]:
data3_test

       Pupil diameter left  Pupil diameter right  Gaze event duration
102                   3.09                  3.08                308.0
106                   3.00                  3.14                308.0
111                   3.12                  3.05                308.0
115                   3.02                  3.05                308.0
120                   3.18                  3.05                308.0
...                    ...                   ...                  ...
13339                 3.21                  3.11                358.0
13352                 3.12                  3.14                117.0
13356                 3.23                  3.30                117.0
13362                 3.14                  3.16                117.0
13366                 3.23                  3.30                117.0

[2241 rows x 3 columns]

In [67]:
gms = data2_test['Gaze event duration'].mean()

In [68]:
gms

39.57439446366782

In [69]:
gmf = data3_test['Gaze event duration'].mean()

In [70]:
gmf

306.42882641677824

In [71]:
num = float(data2_test['Pupil diameter left'].mean())
num1 = float(data2_test['Pupil diameter right'].mean())
num_sp = num + num1

In [72]:
num_sp

6.356038062283737

In [73]:
num = float(data3_test['Pupil diameter left'].mean())
num1 = float(data3_test['Pupil diameter right'].mean())
num_fp = num + num1
num_fp

6.598313253012046

In [74]:
num = float(data2_test['Pupil diameter left'].max())
num1 = float(data2_test['Pupil diameter right'].max())
num_sm = num + num1
num_sm

8.56

In [75]:
num = float(data3_test['Pupil diameter left'].max())
num1 = float(data3_test['Pupil diameter right'].max())
num_fm = num + num1
num_fm

10.23

In [76]:
d = {'Pupil diameter succades': [], 'Pupil diameter for fixations': [],'Max Pupil diameter for succades': [],'Max Pupil diameter for fixations': [],'Succade duration': [],'Fixation duration': []}
df_new = pd.DataFrame(data=d)
df_new

Empty DataFrame
Columns: [Pupil diameter succades, Pupil diameter for fixations, Max Pupil diameter for succades, Max Pupil diameter for fixations, Succade duration, Fixation duration]
Index: []

In [77]:
df_new = df_new.append({'Pupil diameter succades': gms, 'Pupil diameter for fixations': gmf,'Max Pupil diameter for succades': num_sp, 'Max Pupil diameter for fixations': num_fp,'Succade duration': num_sm, 'Fixation duration': num_fm}, ignore_index=True)

In [78]:
 df_new

,Pupil diameter succades,Pupil diameter for fixations,Max Pupil diameter for succades,Max Pupil diameter for fixations,Succade duration,Fixation duration
0,39.574394,306.428826,6.356038,6.598313,8.56,10.23

In [79]:
df_new = df_new.append({'Pupil diameter succades': gms, 'Pupil diameter for fixations': gmf,'Max Pupil diameter for succades': num_sp, 'Max Pupil diameter for fixations': num_fp,'Succade duration': num_sm, 'Fixation duration': num_fm}, ignore_index=True)

In [80]:
df_new

,Pupil diameter succades,Pupil diameter for fixations,Max Pupil diameter for succades,Max Pupil diameter for fixations,Succade duration,Fixation duration
0,39.574394,306.428826,6.356038,6.598313,8.56,10.23
1,39.574394,306.428826,6.356038,6.598313,8.56,10.23